doctype html
head
  title my new game
  style.
    .error {
        color:red;
        font:2em/2em aharoni;
        margin:5em;

    }
html. <!-- THAT dot, makes this jade file like a regular html -->
    <body>
        <div class="error">If you see this massage,
                open the browser console to see if the build.js file didnt load </div>
    </body>
script(src='/javascripts/build.js' rel='javascript/text' )